extends ../shared/template

block content
  h1= title

  .row
    .small-12.columns
      form(method='POST', action='/register')
        fieldset
          legend= title
          label Email
          input(type='email', name='email', required=true, autofocus='true')
          label Password
          input(type='password', name='password', required=true)
          button.radius.small.expand REGISTER
