extends ../shared/template

block content
  h1= title

  h4= 'Live your life. Let us help you remember it. addcontxt is a simple utility designed to centralize, manage and store any experience in your life worth remembering.'

  h4= '"Instructions for life: Pay attention. Be astonished. Tell about it." - Mary Oliver'
